<a href="https://colab.research.google.com/github/jagatdivyanshusai/python/blob/main/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1.Write a code to reverse a string

# New Section

In [ ]:
#Write a code to reverse a string
string= "My name is Don"
string[::-1]

'noD si eman yM'


 2.Write a code to count the number of vowels in a string

In [ ]:
# Write a code to count the number of vowels in a string
string= "Kaun Banega Crorepati"
string.lower()
count=0
for i in string:
  if (i=="o" or i=="u" or i=="i" or i=="a" or i=="e"):
    count=count+1
else:
  print("Number of vowels are:", count)

Number of vowels are: 9

3.Write a code to check if a given string is a palindrome or not

In [ ]:
#Write a code to check if a given string is a palindrome or not
str= input("Enter a string :")
a=str[::-1]
if a==str:
  print("this is palindrome")
else:
    print("this is not palindrome")

Enter a string :malayalam
this is palindrome

4.Write a code to check if two given strings are anagrams of each other

In [ ]:
#Write a code to check if two given strings are anagrams of each other
s1=input("Enter 1st String:")
a=s1.lower()
s2=input("Enter 2nd String:")
b=s2.lower()
if  sorted(a)==sorted(b):
  print("This is anagram")
else:
    print("this is not an anagram")

Enter 1st String:fufu
Enter 2nd String:nufu
this is not an anagram

	5.Write a code to find all occurrences of a given substring within another string

In [ ]:
#Write a code to find all occurrences of a given substring within another string
s1=input("Enter String:")
a=s1.lower()
s2=input("Enter sub string to search :")
b=s2.lower()
if b in a:

  print("count of occurances is :", a.count(b))

Enter String:My name is Jagat is and is
Enter sub string to search :Is
count of occurances is : 3

6.Write a code to perform basic string compression using the counts of repeated characters

In [ ]:
#Write a code to perform basic string compression using the counts of repeated characters
s1=input("Enter String:")
a=s1.lower()
compressed =""
count=1
for  i in range(len(a) - 1):
   if a[i]==a[i+1]:
    count += 1
   else:
    compressed += a[i] + str(count)
    count = 1

compressed += a[-1] + str(count)
print("Compressed String:", compressed)

Enter String:aabbccc
Compressed String:  a2b2c3

7.Write a code to determine if a string has all unique characters

In [ ]:
#Write a code to determine if a string has all unique characters
s1 = input("Enter String: ")
def has_unique_characters(s1):
    return len(s1) == len(set(s1))

if has_unique_characters(s1):
    print("The string has all unique characters.")
else:
    print("The string has duplicate characters.")

Enter String: all
The string has duplicate characters.

8.Write a code to convert a given string to uppercase or lowercase

In [ ]:
#Write a code to convert a given string to uppercase or lowercase
s1=input("Enter String:")
b=input("Press 1 for lowercase or Press 2 for Uppercase:")

if  b== "1":
         print("This is lowercase:", s1.lower())
elif b== "2":
         print("This is uppercase", s1.upper())
else:
         print("Invalid input. Please enter 1 or 2.")

Enter String:Jagat
Press 1 for lowercase or Press 2 for Uppercase:1
This is lowercase: jagat

9. Write a code to count the number of words in a string

In [ ]:
#Write a code to count the number of words in a string

def count_words(s1):
    words = s1.split()
    return len(words)
s1=input("Enter String:")
word_count = count_words(s1)
print(f"The number of words in the string is: {word_count}")

Enter String:My name is wolf
The number of words in the string is: 4

 10.Write a code to concatenate two strings without using the + operator

In [ ]:
#Write a code to concatenate two strings without using the + operator
def concatenate_strings(str1, str2):
    return f"{str1}{str2}"
s1=input("Enter first String :")
s2=input("Enter second String :")
result = concatenate_strings(s1, s2)
print(result)

Enter first String :with
Enter second String :out
without

11.Write a code to remove all occurrences of a specific element from a list

In [ ]:
#Write a code to remove all occurrences of a specific element from a list
def remove_all_occurrences(lst, element):
    return [item for item in lst if item != element]

# Example usage
my_list = [1, 2, 3, 4, 2, 5, 2, 6]
element_to_remove = 2
result = remove_all_occurrences(my_list, element_to_remove)

print("Original list:", my_list)
print("List after removing all occurrences of", element_to_remove, ":", result)

Original list: [1, 2, 3, 4, 2, 5, 2, 6]
List after removing all occurrences of 2 : [1, 3, 4, 5, 6]

12. Implement a code to find the second largest number in a given list of integers

In [ ]:
# Implement a code to find the second largest number in a given list of integers
def find_second_largest(numbers):
    unique_numbers = list(set(numbers))
    unique_numbers.sort(reverse=True)
    return unique_numbers[1] if len(unique_numbers) >= 2 else None

numbers = [10, 20, 4, 45, 99, 99]
second_largest = find_second_largest(numbers)
if second_largest is not None:
    print("The second largest number is:", second_largest)
else:
    print("List must contain at least two unique numbers")

The second largest number is: 45

13.Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values

In [ ]:
#Create a code to count the occurrences of each element in a list and return a dictionary with elements as
#keys and their counts as values
def count_occurrences(input_list):
    count_dict = {}
    for element in input_list:
        if element in count_dict:
            count_dict[element] += 1
        else:
            count_dict[element] = 1
    return count_dict

input_list = [1, 2, 2, 3, 4, 4, 4, 5]
result = count_occurrences(input_list)
print(result)

{1: 1, 2: 2, 3: 1, 4: 3, 5: 1}

14.Write a code to reverse a list in-place without using any built-in reverse functions

In [ ]:
#Write a code to reverse a list in-place without using any built-in reverse functions
def reverse_list(lst):
    left = 0
    right = len(lst) - 1

    while left < right:
        lst[left], lst[right] = lst[right], lst[left]
        left += 1
        right -= 1

my_list = [1, 2, 3, 4, 5]
reverse_list(my_list)
print("Reversed list:", my_list)

Reversed list: [5, 4, 3, 2, 1]

15. Implement a code to find and remove duplicates from a list while preserving the original order of
elements

In [ ]:
 #Implement a code to find and remove duplicates from a list while preserving the original order of
#elements
def remove_duplicates(lst):
    seen = set()
    result = []

    for item in lst:
        if item not in seen:
            result.append(item)
            seen.add(item)

    return result

my_list = [1, 2, 3, 2, 4, 1, 5, 3]
unique_list = remove_duplicates(my_list)
print("List with duplicates removed:", unique_list)

List with duplicates removed: [1, 2, 3, 4, 5]

16.Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [ ]:
#Create a code to check if a given list is sorted (either in ascending or descending order) or not

def is_sorted(lst):
    ascending = all(lst[i] <= lst[i + 1] for i in range(len(lst) - 1))
    descending = all(lst[i] >= lst[i + 1] for i in range(len(lst) - 1))

    if ascending:
        return "The list is sorted in ascending order."
    elif descending:
        return "The list is sorted in descending order."
    else:
        return "The list is not sorted."

user_input = input("Enter a list of numbers separated by spaces: ")
user_list = list(map(int, user_input.split()))

result = is_sorted(user_list)
print(result)

Enter a list of numbers separated by spaces: 1 2 3 4
The list is sorted in ascending order.

17.Write a code to merge two sorted lists into a single sorted list

In [ ]:
#Write a code to merge two sorted lists into a single sorted list

def merge_sorted_lists(list1, list2):
    return sorted(list1 + list2)

list1 = list(map(int, input("Enter the first sorted list (space-separated): ").split()))
list2 = list(map(int, input("Enter the second sorted list (space-separated): ").split()))

merged = merge_sorted_lists(list1, list2)
print("Merged sorted list:", merged)

Enter the first sorted list (space-separated): 5 4 3 1
Enter the second sorted list (space-separated): 2 6 7
Merged sorted list: [1, 2, 3, 4, 5, 6, 7]

18.Implement a code to find the intersection of two given lists

In [ ]:
#Implement a code to find the intersection of two given lists
def find_intersection(list1, list2):
    return list(set(list1) & set(list2))

list1 = list(map(int, input("Enter the first list (space-separated): ").split()))
list2 = list(map(int, input("Enter the second list (space-separated): ").split()))

intersection = find_intersection(list1, list2)
print("Intersection of the two lists:", intersection)

Enter the first list (space-separated): 5 4 3
Enter the second list (space-separated): 3 2 1
Intersection of the two lists: [3]

19.Create a code to find the union of two lists without duplicates

In [ ]:
#Create a code to find the union of two lists without duplicates
def find_union(list1, list2):
    return list(set(list1 + list2))

list1 = list(map(int, input("Enter the first list (space-separated): ").split()))
list2 = list(map(int, input("Enter the second list (space-separated): ").split()))

union = find_union(list1, list2)
print("Union of the two lists:", union)

Enter the first list (space-separated): 1 3  5 6
Enter the second list (space-separated): 6 3 2 7
Union of the two lists: [1, 2, 3, 5, 6, 7]

20.Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [ ]:
#Write a code to shuffle a given list randomly without using any built-in shuffle functions
def shuffle_list(input_list):
    n = len(input_list)

    for i in range(n):
        j = (i + 1) % n
        input_list[i], input_list[j] = input_list[j], input_list[i]

    return input_list

user_input = input("Enter a list of elements separated by spaces: ")
input_list = user_input.split()

shuffled_list = shuffle_list(input_list)
print("Shuffled List:", shuffled_list)

Enter a list of elements separated by spaces: 5 4 3 2 1
Shuffled List: ['5', '3', '2', '1', '4']

21.Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples

In [ ]:
#Write a code that takes two tuples as input and returns a new tuple containing elements that are
#common to both input tuples

def find_common_elements(tuple1, tuple2):
    return tuple(set(tuple1) & set(tuple2))

tuple1 = tuple(input("Enter elements of the first tuple separated by spaces: ").split())
tuple2 = tuple(input("Enter elements of the second tuple separated by spaces: ").split())

result = find_common_elements(tuple1, tuple2)
print("Common elements:", result)

Enter elements of the first tuple separated by spaces: 5 4 1 2
Enter elements of the second tuple separated by spaces: 2 4 6 7
Common elements: ('4', '2')

22.Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets

In [ ]:
#Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets
def find_intersection():
    set1 = set(input("Enter the first set of integers separated by commas: ").split(','))
    set2 = set(input("Enter the second set of integers separated by commas: ").split(','))

    intersection = set1 & set2

    print("Intersection of the two sets:", intersection)
find_intersection()

Enter the first set of integers separated by commas: 2,3,4,5
Enter the second set of integers separated by commas: 6,4,5
Intersection of the two sets: {'4', '5'}

23.Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples

In [ ]:
#Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2

tuple1 = tuple(input("Enter the first tuple (separated by spaces): ").split())
tuple2 = tuple(input("Enter the second tuple (separated by spaces): ").split())

result = concatenate_tuples(tuple1, tuple2)
print("Concatenated tuple:", result)

Enter the first tuple (separated by spaces): 1 2 3
Enter the second tuple (separated by spaces): 4 5 6
Concatenated tuple: ('1', '2', '3', '4', '5', '6')

24.Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set

In [ ]:
#Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set

def difference_of_sets():
    set1 = set(input("Enter the first set of strings separated by commas: ").split(','))
    set2 = set(input("Enter the second set of strings separated by commas: ").split(','))

    difference = set1 - set2

    print("Elements present in the first set but not in the second set:", difference)

difference_of_sets()

Enter the first set of strings separated by commas: ant,bat,cat,dog
Enter the second set of strings separated by commas: cat,dog,hen
Elements present in the first set but not in the second set: {'bat', 'ant'}

25.Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices

In [ ]:
#Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices

def extract_elements_within_range(input_tuple, start_index, end_index):
    return input_tuple[start_index:end_index]

input_tuple = tuple(input("Enter elements of the tuple separated by spaces: ").split())
start_index = int(input("Enter the start index: "))
end_index = int(input("Enter the end index: "))

result = extract_elements_within_range(input_tuple, start_index, end_index)
print("Extracted elements:", result)

Enter elements of the tuple separated by spaces: 1 2 4 5 6 7
Enter the start index: 1
Enter the end index: 5
Extracted elements: ('2', '4', '5', '6')

26.Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [ ]:
#Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

def union_of_sets():
    set1 = set(input("Enter the first set of characters separated by commas: ").split(','))
    set2 = set(input("Enter the second set of characters separated by commas: ").split(','))

    union = set1.union(set2)

    print("Union of the two sets:", union)

union_of_sets()

Enter the first set of characters separated by commas: a,b,c
Enter the second set of characters separated by commas: c,d,e
Union of the two sets: {'a', 'e', 'c', 'b', 'd'}

27.Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking

In [ ]:
#Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking

def find_max_min(input_tuple):
    return max(input_tuple), min(input_tuple)

input_tuple = tuple(map(int, input("Enter integers separated by spaces: ").split()))

max_value, min_value = find_max_min(input_tuple)

print("Max:", max_value, "Min:", min_value)

Enter integers separated by spaces: 5 4 2 33
Max: 33 Min: 2

28.Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets

In [ ]:
#Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets
def set_operations():
    set1 = set(map(int, input("Enter first set of integers: ").split()))
    set2 = set(map(int, input("Enter second set of integers: ").split()))

    print("Union:", set1 | set2)
    print("Intersection:", set1 & set2)
    print("Difference (set1 - set2):", set1 - set2)

set_operations()

Enter first set of integers: 5 4 3 6 8
Enter second set of integers: 2 3 5 9
Union: {2, 3, 4, 5, 6, 8, 9}
Intersection: {3, 5}
Difference (set1 - set2): {8, 4, 6}

29.Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple

In [ ]:
#Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple

def count_occurrences(input_tuple, element):
    return input_tuple.count(element)

input_tuple = tuple(map(int, input("Enter the elements of the tuple separated by spaces: ").split()))
element = int(input("Enter the element to count: "))

count = count_occurrences(input_tuple, element)
print(f"The element {element} appears {count} times in the tuple.")

Enter the elements of the tuple separated by spaces: 5 6 6 3 4 2
Enter the element to count: 6
The element 6 appears 2 times in the tuple.

30.Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets

In [ ]:
#Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets

def symmetric_difference_of_sets():

    set1 = set(input("Enter the first set of strings separated by spaces: ").split())
    set2 = set(input("Enter the second set of strings separated by spaces: ").split())

    symmetric_difference = set1.symmetric_difference(set2)

    print("Symmetric Difference:", symmetric_difference)

symmetric_difference_of_sets()

Enter the first set of strings separated by spaces: cat dog mouse
Enter the second set of strings separated by spaces: cat ant rat
Symmetric Difference: {'ant', 'mouse', 'dog', 'rat'}

31.Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list

In [ ]:
#Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list

def word_frequency():
    words = input("Enter a list of words separated by spaces: ").split()

    word_count = {}

    for word in words:
        word_count[word] = word_count.get(word, 0) + 1

    print("Word Frequencies:", word_count)
word_frequency()

Enter a list of words separated by spaces: bat cat rat mat rat bat goat
Word Frequencies: {'bat': 2, 'cat': 1, 'rat': 2, 'mat': 1, 'goat': 1}

32.Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together

In [ ]:
#Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together

def merge_dictionaries():
    dict1 = eval(input("Enter the first dictionary: "))
    dict2 = eval(input("Enter the second dictionary: "))

    merged_dict = dict1.copy()
    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value
        else:
            merged_dict[key] = value

    print("Merged Dictionary:", merged_dict)

merge_dictionaries()

Enter the first dictionary: {'a':10,'b':20,'c':35}
Enter the second dictionary: {'c':10,'d':25,'e':30}
Merged Dictionary: {'a': 10, 'b': 20, 'c': 45, 'd': 25, 'e': 30}

33.Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None

In [ ]:
#Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None
def access_nested_dict_value(d, keys):
    for key in keys:
        d = d.get(key)
        if d is None:
            return None
    return d

nested_dict = {
    'a': {
        'b': {
            'c': 10
        }
    },
    'x': {
        'y': 20
    }
}

keys = input("Enter the list of keys separated by spaces: ").split()

result = access_nested_dict_value(nested_dict, keys)
print("The value is:", result)

Enter the list of keys separated by spaces: a b c
The value is: 10

34.Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order

In [ ]:
#Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order

def sort_dict_by_value(d, descending=False):
    sorted_dict = {k: v for k, v in sorted(d.items(), key=lambda item: item[1], reverse=descending)}
    return sorted_dict

input_dict = eval(input("Enter the dictionary: "))
order = input("Do you want to sort in descending order? (yes/no): ").strip().lower()

descending = True if order == 'yes' else False

sorted_dict = sort_dict_by_value(input_dict, descending)
print("Sorted Dictionary:", sorted_dict)

Enter the dictionary: {'a':10,'b':20,'c':5}
Do you want to sort in descending order? (yes/no): yes
Sorted Dictionary: {'b': 20, 'a': 10, 'c': 5}

35.Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary

In [ ]:
#Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary

def invert_dictionary(input_dict):
    inverted_dict = {}

    for key, value in input_dict.items():
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            inverted_dict[value] = [key]

    return inverted_dict

input_dict = eval(input("Enter the dictionary: "))
inverted_dict = invert_dictionary(input_dict)
print(inverted_dict)

Enter the dictionary: {'a': 1, 'b': 2, 'c': 1, 'd': 3}
{1: ['a', 'c'], 2: ['b'], 3: ['d']}